h1{
  color: red;
  font-size: 100px;
  background-color: yellow;
}

h2{
  color: blue;
  border: 10px solid red
}

p{
   font-family: Arial, sans-serif
}

.lamp{
  color: yellow;
  background: #99EFFF;
}

#window{
  color: orange
}
.puppy{
  border: 8px solid darkblue;
}
.surround li span {
  color: purple;
}
.box img{
  width: 100%;
}
.box {
  margin: 50px 100px;
  padding: 50px 20px 5px;
  width: 50%;
  border: 5px solid orange;
}