@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Slab:wght@900&display=swap');
@font-face {
    font-family: '1942_report1942_report';
    src: url('1942-webfont.eot');
    src: url('1942-webfont.eot?#iefix') format('embedded-opentype'),
         url('1942-webfont.woff2') format('woff2'),
         url('1942-webfont.woff') format('woff'),
         url('1942-webfont.ttf') format('truetype'),
         url('1942-webfont.svg#1942_report1942_report') format('svg');
    font-weight: normal;
    font-style: normal;

}


html, body {
    margin: 0;
    padding: 0;
    background: #ddd url("mountain.jpg") no-repeat fixed;
    background-size: cover;
}
header h1 {
    font-family: 'Bebas Neue', cursive;
}
#wrap {
    margin: 0 auto;
    width: 75%;
}
header {
    text-align: center;
    position: relative;
}
header img {
    width: 20%;
    display: block;
    position:absolute;
    top:0;
    left:0;
}
header, nav, section, footer {
    background: white;
    margin: 10px;
}
.one, .two, .three{
    width: 200px;
    height: 200px;
    background-color: blue;
    margin: 10px;
}
section {
    overflow: auto;
    padding:20px;
    position: relative;
}
.two {
    background-color: red;
    padding:0;
}
figure {
    background: black;
    width: 29%;
    padding: 1%;
    float: left;
    margin:1%;
}
figure img{
    width: 100%;
}
figcaption {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}
footer, nav {
    font-size: 50px;
    padding: 20px;
    font-family: 'Roboto Slab', serif;
    font-weight: 700;
}
section h2 {
    font-family: '1942_report1942_report';
}