/*input {
    display:block;
    width:100%;
}
input#fname, input#lname {
    display: inline;
    width: 49%;
    margin: auto;
}
input#box {
    display: inline;
    width: 5%
}
label{
    display: inline;
}*/
body{
    background-color: lightgray;
}
header, nav, section, footer {
    padding: 20px;
    margin: 20px;
    background-color: white;
}
form{
    width: 50%;
    margin: 0 auto;
}
fieldset {
    background-color: #ABC;
    border-radius: 1em;
}
legend {
    background-color: yellow;
    font-size: 30px;
    font-weight: bold;
}



.embed-container {
    position: relative;
    padding-bottom: 56.25%;
    height: 0;
    overflow: hidden;
    max-width: 100%;
}

.embed-container iframe,
.embed-container object,
.embed-container embed {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
section div {
    margin: 20px 0
}